@using AndOS.Application.Components
@using AndOS.Web.Components.Windows
@inherits AndOSBaseComponent
@namespace AndOS.Web.Components

@inject ILogger<TaskBar> Logger

<div id=@IdElement class="taskbar_container_content">
    @foreach (var process in ProcessManager.Processes.Where(x => x.Window is not null))
    {
        <WindowTaskBar Process="process" @key=process />
    }
</div>


@code {
    protected override void OnInitialized()
    {
        _logger = Logger;
        IdElement = "taskbar_container";

        ProcessManager.OnWindowOpenAsync += refreshAsync;
        ProcessManager.OnWindowCloseAsync += refreshAsync;
        ProcessManager.OnWindowFocusAsync += refreshAsync;
        ProcessManager.OnWindowHideAsync += refreshAsync;
        base.OnInitialized();
    }

    public override void Dispose()
    {
        ProcessManager.OnWindowOpenAsync -= refreshAsync;
        ProcessManager.OnWindowCloseAsync -= refreshAsync;
        ProcessManager.OnWindowFocusAsync -= refreshAsync;
        ProcessManager.OnWindowHideAsync -= refreshAsync;
        base.Dispose();
    }
}
