@page "/"
@using AndOS.Domain.Consts
@inject NavigationManager NavigationManager
<h3>Home</h3>
<button @onclick=ToLogin>Login</button>
@code {
    Task ToLogin(MouseEventArgs @event)
    {
        NavigationManager.NavigateTo(Routes.Login);
        return Task.CompletedTask;
    }
}
