/* Estilos para a página de login */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

    .login-form h3 {
        text-align: center;
        margin-bottom: 20px;
    }

.hiperlink {
    text-decoration: underline;
    color: #0071c1;
}

    .hiperlink:hover {
        cursor: pointer;
    }
