@using AndOS.Web.Components
@using Microsoft.AspNetCore.Components
@using System.Reflection
@inherits LayoutComponentBase
@inject IContextMenuManager ContextMenuManager

<div id="main_layout_container">
    <div style="height: 48px; flex-shrink: 0;">
        <TopBar />
    </div>
    <div style="flex-grow: 1; overflow: hidden">
        @Body
    </div>
    <div style="height: var(--taskbar-height); flex-shrink: 0;">
        <TaskBar />
    </div>
</div>
<FluentToastProvider MaxToastCount="10" />
<FluentDialogProvider />
<FluentMenu Style="position: fixed" @bind-Open="ContextMenuManager.Open" @ref=fluentMenuRef
            Trigger="MouseButton.Right" Anchored="false">
    @foreach (var item in ContextMenuManager.GetItems())
    {
        <AndOS.Application.Components.RecursiveMenuComponent RootMenuItem="item" />
    }
</FluentMenu>

@code {
    FluentMenu fluentMenuRef;
    async Task Refresh(MouseEventArgs e)
    {
        await fluentMenuRef.OpenAsync((int)e.ClientX, (int)e.ClientY);
    }

    protected override void OnInitialized()
    {
        ContextMenuManager.OnSetItems += Refresh;
    }
}