@using AndOS.Application.Components
@using Microsoft.Extensions.Logging
@inherits BaseProgramComponent
@inject ILogger<MusicPlayerComponent> Logger
@namespace AndOS.Module.MusicPlayer

@{
    base.BuildRenderTree(__builder);
}
<h3>In development</h3>

@code {

}
