#taskbar_container {
    height: var(--taskbar-height);
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
/*    margin-bottom: 10px;*/
    background-color: transparent;
    position: absolute;
    bottom: 10px;
}

#taskbar_container_content {
    box-shadow: 0px -2px 5px var(--taskbar-shadow-color);
    border: 1px solid var(--taskbar-border-color);
    background-color: var(--taskbar-bg-color);
    border-radius: 20px;
    height: 100%;
    width: min-content;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    padding: 0 10px;
}
