@using AndOS.Application.Components.Programs
@using System.Reflection
@namespace AndOS.Module.Example
@inherits BaseProgramComponent

@{
    base.BuildRenderTree(__builder);
}

<h3>Example</h3>
<p>took @_seconds seconds to complete the request</p>
@code {
    int _seconds;

    protected override async Task OnInitializedAsync()
    {
        var rand = new Random();
        _seconds = rand.Next(2, 7);
        await Task.Delay(_seconds * 1000);
        await base.OnInitializedAsync();
    }
}