@inject IProgramManager ProgramManager
@implements IDisposable
@namespace AndOS.Web.Components.Programs
<div style="
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden auto;
    height: inherit;
    gap: 10px;
    align-content: flex-start;"
>
    @foreach (var program in ProgramManager.Programs)
    {
        <ProgramItem Content="program" @key=program />
    }
</div>
@code {

    Task RefreshAsync(Program program)
    {
        StateHasChanged();
        return Task.CompletedTask;
    }

    protected override void OnInitialized()
    {
        ProgramManager.OnInstall += RefreshAsync;
        ProgramManager.OnUninstall += RefreshAsync;
    }

    public void Dispose()
    {
        ProgramManager.OnInstall -= RefreshAsync;
        ProgramManager.OnUninstall -= RefreshAsync;
    }
}
